footer {
    background-color: var(--gray-colors-100);
}

footer main {
    padding-top: 8.8rem;
    padding-bottom: 4rem;
    display: flex;
    gap: 13.6rem;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.216);
    color: hsla(0, 0%, 100%, 0.7);
}

.area-left {
    max-width: 28.1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 3.5rem;
}

.area-left p {
    font-size: 1.4rem;
    line-height: 150%;

}

footer main nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 77.7rem;
}

.item {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
}

.item li+li {
    margin-top: 3rem;
}

.item h6 {
    font-family: 'Sora';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 125%;
    color: var(--white);
}

.item a {
    color: #ebebeba8;
    font-family: 'Sora', sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 1.4rem;
    line-height: 105%;
}

.redes li a {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.redes li a span {
    font-family: 'Sora', sans-serif;
    font-weight: 100;
}

.copyright {
    padding-block: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-colors-text);
}

.group {
    display: flex;
    gap: 0.9rem;
}

.group span {
    font-family: 'Sora', sans-serif;
    font-weight: 100;
}

@media(max-width:960px) {
    footer main {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:600px) {
    footer main nav {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }

    footer main {
        padding-top: 4rem;
        gap: 6rem;
    }

    .area-left {
        align-items: center;
    }

    .item {
        text-align: center;
    }

    .redes li a {
        justify-content: center;
    }

    .copyright {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        text-align: center;
    }
}